.hudson-highlight .positive {
  font-weight: bold;
  font-size: 25px;
  background-color: #27ae1d;
}
.hudson-highlight .negative {
  font-weight: bold;
  font-size: 25px;
  background-color: #ae1d1d;
}
.hudson-highlight .warn {
  font-weight: bold;
  font-size: 25px;
  background-color: #d04919;
}
.hudson-highlight .highlight {
  font-weight: bold;
  font-size: 25px;
  background-color: #d48e06;
  color: #000;
}
